[Unit]
Description=Review Board Gateway
After=network.target

[Service]
User=rb-gateway
KillSignal=SIGTERM
ExecStart=/usr/local/bin/rb-gateway --config /etc/rb-gateway.conf
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
